.at-ticket-container {
    min-width: 360px;
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    user-select: none;
}

.at-ticket-container:last-child {
    margin-bottom: 0;
}

.at-ticket-container .at-buy-area {
    flex: 1 1 35%;
    border-right: 1px solid #f3f3f3;
    padding: 1em 1em 1.5em 1em;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.at-ticket-container .at-buy-area img {
    max-width: 250px;
    width: 100%;
    margin: 1em 0;
    -js-display: flex;
    display: flex;
    flex-direction: column;
}

.at-ticket-container .at-ticket-info {
    flex: 1 1 65%;
    -js-display: flex;
    display: flex;
    padding: 1em;
}

.at-ticket-container .at-ticket-info .at-ticket-info-stats {
    flex: 1 1 100%;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10em;
}

.at-ticket-container .at-ticket-info .at-ticket-info-stats span:nth-child(1) {
    font-size: 2.5em;
    color: #494949;
    font-size: 2.5em;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
}

.at-ticket-container .at-ticket-info .at-ticket-info-stats span:nth-child(2) {
    color: #4a494a;
    font-weight: 700;
    font-size: 0.9em;
    white-space: nowrap;
}

.at-ticket-container .at-ticket-info .at-ticket-info-stats span:nth-child(3) {
    color: #a0a0a0;
    font-weight: 700;
    font-size: 0.9em;
    white-space: nowrap;
}

.at-ticket-container .at-ticket-info .at-ticket-info-plane {
    flex: 1 1 100%;
    color: #a0a0a0;
    min-width: 12em;
    -js-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.at-ticket-container .at-ticket-info .at-ticket-info-plane-stops {
    margin-top: 0.5em;
}

.at-ticket-container .at-ticket-info .at-ticket-info-plane-sign {
    align-self: stretch;
    -js-display: flex;
    display: flex;
    align-items: center;
}

.at-ticket-container .at-ticket-info .at-ticket-info-plane i {
    transform: rotate(90deg);
    font-size: 1.1em;
    height: 1em;
    width: 1em;
}
.at-ticket-container .at-ticket-info .at-ticket-info-plane .at-plane-underline {
    border: 0;
    border-top: 1px solid #a0a0a0;
    width: 100%;
}
