.at-currency-filter-container {
    margin-bottom: 1em;
}

.at-currency-filter-container fieldset {
    padding: 0.8em 0;
    border: initial;
}

.at-currency-filter-container input[type="radio"] {
    display: none;
}

.at-currency-filter-container label {
    padding: 0.6em 1.6em;
    font-weight: 600;
    color: #2196f3;
    cursor: pointer;
    user-select: none;
    border: 1px solid #eeeff0;
    vertical-align: middle;
    transition: all 250ms;
}

.at-currency-filter-container span:first-child label {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.at-currency-filter-container span:last-child label {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.at-currency-filter-container label:hover {
    background-color: #f2fcff;
    border: 1px solid #2196f3;
}

.at-currency-filter-container input[type="radio"]:checked + label {
    background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
}
